# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
.venv
venv/
ENV/

# IDE and OS specific files
.idea/
.vscode/
*.DS_Store

# Ignore all generated output files
output/
